<header class="container-fluid bg-dark sticky-top">
    <nav
      class="d-flex justify-content-between flex-column flex-sm-row flex-wrap justify-content-center align-items-center"
    >
      <div>
        <!-- <img src="https://br.cellep.com/wp-content/themes/cellep/assets/img/logo.svg" alt="logo" /> -->

        <img
          src="https://bbz.com.br/wp-content/uploads/2021/12/LOGO.png"
          width="100"
          alt="logo"
        />
      </div>
      <ul class="nav nav-pills">
        <li>
          <a class="nav-link text-white" href="/" id="menuHome">Home</a>
        </li>
        <li>
          <a class="nav-link text-white" href="/noticias" id="menuNoticias"
            >Noticias</a
          >
        </li>
        <li>
          <a class="nav-link text-white" href="/admin" id="menuAdmin"
            >Admin</a
          >
        </li>
        <li>
          <!-- <% if (typeof(autorizado) !== 'undefined') { %> -->
          <a class="nav-link text-white" href="/admin/sair">Sair</a>
          <!-- <% } %>      -->
        </li>
      </ul>
    </nav>
  </header>